@mixin stroke($width, $color) {
	$width: $width + 0;
	$shadow: 0 0 0 transparent;
	$i: 0;
	$w: 1;

	@while ($i < $width) {
		$i: $i + 1;
		$j: 0;
		$w: $w + 2;

		@for $r from 1 through $w {
			@for $c from 1 through $w {
				$x: $c - ceil($w / 2);
				$y: $r - ceil($w / 2);

				$shadow: #{$shadow}, #{$x}px #{$y}px 0 $color;
			}
		}
	}

	text-shadow: $shadow;
}

.page-lead.homepage
{
	background: darkred url(/assets/images/red-grunge-background.png);
	h1,
	h2
	{
		@include stroke(1px, darkred);
	}
}

.homepage .tile
{
	font-size: 1.0em;
	h1, h2
	{
		font-weight: bold;
		font-size: 1.2em;
	}
	p
	{
		font-size: 1.0em;
	}


}
